@import "./global.scss";

.button_rounded {
  display: flex;
  margin: 20px 0;
  padding: 10px 60px;
  background-image: linear-gradient(to right, #222a50, #363e63);
  color: white;
  justify-content: space-around;
  border: none;
  border-radius: 30px;
  font-size: $font_size_button;
  cursor: pointer;

  a {
    color: white;
    text-decoration: none;
  }
}

.button_orange {
  background-color: #ffc172;
  background-image: none;
}
