@import "./global.scss";

footer {
  position: fixed;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  margin-top: auto;
  background: white;
  font-size: $font_size_nav;
  left: 0;
  bottom: 0;
  ol {
    width: 50%;
    padding: 0;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      padding-right: 26px;
      list-style-type: none;
    }
  }
  a {
    text-decoration: none;
    color: $black;
  }
}

@media (max-width: 1024px) {
  footer {
    width: 100%;
  }
}

.footer_black {
  background-image: linear-gradient(to top, #11181d, #212748 -2%);
  background-color: none;
  color: grey !important;
}
