$font_size_title: 1.6rem;
$font_size_subtitle: 1.5rem;
$font_size_button: 1.4rem;
$font_size_content: 1.2rem;
$font_size_nav: 1.1rem;
$purple: #222a50;
$black: #1c1c1c;
$main_font: HelveticaNeue, sans-serif;

@font-face {
  font-family: HelveticaNeue;
  src: url("/font/HelveticaNeueBold.ttf") format("ttf"),
    url("/font/HelveticaNeue.ttf") format("ttf"),
    url("/font/HelveticaNeueBd.ttf") format("ttf"),
    url("/font/HelveticaNeueLight.ttf") format("ttf");
}
